# wszystko, co powstaje w czasie instalacji i budowy
ephemeral/

# backupowe kopie edytorow (plik~)
*~

# klasyczne resztki builda (na wypadek pracy poza ephemeral)
build/
pol2
testy
save.00*
*.spv
core
tmp/